/* You can add global styles to this file, and also import other style files */
/* styles.css */

body {
  margin: 0;
  font-family: Arial;
  background: #f5f6fa;
}

button {
  cursor: pointer;
  border-radius: 6px;
}

input, textarea {
  width: 100%;
  margin: 5px 0;
  padding: 8px;
}